<div class="row">
    <div class="col">
        <input
        #termino
        type="text"
        (keyup)="buscar(termino.value)"
        class="form-control"
        placeholder="Buscar artista..."/>
    </div>
</div>
<div style="margin-top:15px;display:flex; flex-wrap:wrap; justify-content:center; gap:15px;">
    <div *ngFor="let artist of artists" class="card" style="max-width: 420px;">
        <img class="card-img-top" [src]='artist.images[0].url'/>
        <div class="card-body">
            <h5 class="card-title">{{artist.name}}</h5>
        </div>
    </div>
</div>